.add-task-form {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  padding: var(--spacing-md);
  border-radius: var(--radius);
  position: relative;
}

.add-task-form__input {
  flex: 1;
  border-radius: var(--radius);
  border: 1px;
  padding: 1rem;
}
.add-task-form__button {
  font-style: italic;
  border-radius: 50%;
  height: 50%;
  aspect-ratio: 1;
  position: absolute;
  right: 5%;
  top: 25%;
  
}

