.card {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  padding: var(--spacing-md);
  border-radius: var(--radius);
}

.card__input {
  flex: 1;
  border-radius: var(--radius);
  border: 1px;
  padding: 1rem;
}
