.task__list {
  padding: 2em;
  display: block;
  background: rgba(1, 1, 1, 0.2);
  margin: 1em;
  border-radius: 25px;
}

.task__item--undone {
  margin: 1em;
  padding: 1em;
  background-color: yellow;
  border-radius: 25px;
}

.task__item--done {
}
