.task__list {
  padding: 2em;
  display: block;
  background-color: azure;
  margin: 1em;
  border-radius: 25px;
}

.task__item {
  margin: 1em;
  padding: 1em;
  background-color: yellow;
  border-radius: 25px;
}

.task__item--undone{
    align-content: center;
}